#main-container {
  padding: 20px 35%
}

.thumbnail {
  border-radius: 50%;
  width: 200px;
  display: block;
}

.heart-icon {
  color: red;
  font-size: 20px;
  cursor: pointer;
  margin-left: 5px;
}

.fire-icon {
  width: 50px;
  vertical-align: middle;
}