.container-flex {
  display: flex;
}

.container, .container-flex {
  padding: 1rem;
}

.jumbotron {
  background-color: rebeccapurple;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  padding: 0.3rem;
}

.container-flex>fieldset {
  flex: 1;
}

.form-group {
  display: flex;
  margin: 0.5rem 0;
}

.form-group>label {
  width: 150px;
}

.form-group>input {
  flex: 1;
}

.error-message {
  flex: 1;
  color: tomato;
  margin-left: 10px;
}

.btn {
  background-color: mediumseagreen;
  color: #fff;
  border: none;
  font-size: 0.9rem;
  padding: 0.3rem;
}